html {
    background: #f1f1f1;
    height: 100%;
}

body {
    background: #fff;
    color: #505050;
    font: 14px 'Segoe UI', tahoma, arial, helvetica, sans-serif;
    margin: 1%;
    min-height: 95.5%;
    border: 1px solid silver;
    position: relative;
}

pre {
    margin: 6px;
    font-size: 1rem;
}

/* JHeiner 8/31/2017: When involving Visual Studio solution or middle tier team
    the sub items below would best be re-written for LESS or SCSS (SASS) */
#header {
    padding: 0;
}

    #header h1 {
        font-size: 44px;
        font-weight: normal;
        margin: 0;
        padding: 10px 30px 10px 30px;
    }

    #header span {
        margin: 0;
        padding: 0 30px;
        display: block;
    }

    #header p {
        font-size: 20px;
        color: #fff;
        background: rgb(51, 0, 102); /*#FFBA08;*/ /*#007acc;*/
        padding: 0 30px;
        line-height: 50px;
        margin-top: 25px;
    }

        #header p a {
            color: #fff;
            text-decoration: underline;
            font-weight: bold;
            padding-right: 35px;
            background: no-repeat right bottom url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAWCAMAAAAcqPc3AAAANlBMVEUAAAAAeswfitI9mthXp91us+KCvuaTx+mjz+2x1u+83PLH4vTR5/ba7Pjj8Pns9fv1+v3////wy3dWAAAAAXRSTlMAQObYZgAAAHxJREFUeNp9kVcSwCAIRMHUYoH7XzaxOxJ9P8oyQ1uIqNPwh3s2aLmIM2YtqrLcQIeQEylhuCeUOlhgve5yoBCfWmlnlgkN4H8ykbpaE7gR03AbUHiwoOxUH9Xp+ubd41p1HF3mBPrfC87BHeTdaB3ceeKL9HGpcvX9zu6+DdMWT9KQPvYAAAAASUVORK5CYII=);
        }

        #header p span {
            display: none;
        }

#main {
    padding: 5px 30px;
    clear: both;
}

#main {
    display: none;
}

.section {
    float: left;
    margin: 0 0 0 4%;
}

.section:first-child {
    width: 38%;
}

.section:not(:first-child) {
    width: 24.5%;
}

    .section h2 {
        font-size: 24px;
        text-transform: none;
        margin-bottom: 25px;
        border: none;
    }

    .section h3 {
        font-size: 13px;
        text-transform: uppercase;
        margin: 0;
        border-bottom: 1px solid silver;
        padding-bottom: 12px;
        margin-bottom: 8px;
    }

    .section.first {
        margin-left: 0;
    }

    /*.section.first li {
        border-top: 1px solid silver;
        padding: 8px 0;
    }*/

    .section.last {
        margin-right: 0;
    }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 20px;
}

li {
    padding: 4px 0;
}

a {
    color: #267cb2;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

#footer {
    clear: both;
    padding-top: 50px;
}

    #footer p {
        position: absolute;
        bottom: 10px;
    }

.outputBlock {
    background-color: #f1f1f1;
    height: 200px;
    padding: 10px;
    /*font-family: monospace;*/
}

input, button {
    font-size: 0.9rem;
}

input, button, .outputBlock {
    border-radius: .25rem;
}

button {
    background-color: rgb(221, 221, 221);
    border: 1px solid transparent;
    border-color: #ccc;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    padding: .5rem 1rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

input {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    color: #464a4c;
    display: block;
    line-height: 1.25;
    padding: .5rem .75rem;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 100%;
}

.subtle {
    color: #aaa;
}